    <div id="rooter" class="cover-container w-100 d-flex h-100 p-3 mx-auto flex-column">
        {{> header}}
        <main role="main" class="inner cover mt-5">
            {{> notifications}}
            {{> content}}
        </main>
        {{> footer}}
    </div>